
.cart-wrapper {
    background: var(--background-color);
    width: auto;
    margin-top: 50px;
}

h1 {
    text-align: center;
    font-size: 1.9em;
    padding: 17px;
    margin: 0px;
}

h2 {
    font-size: 0.76em;
    border-bottom: 1px solid #f0f0f0;
    width: 100%;
    margin-bottom: 10px;
}

h3 {
    color: #ED6D2E;
    font-size: 23px;
    margin: 0px;
}

.cartsummary-wrapper {
    display: flex;
    justify-content: center;
    height: 200px;
}

ul {
    background: white;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
    max-width: 1000px;
    padding: 0px;
    border: 2px solid #dbdbdb;
    margin: 0px;
}

li {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bolder;
    font-size: 2em;
}

.cart {
    border-right: 2px solid #f0f0f0;
    text-align: center;
}

.cart:last-child {
    border-right: none;
}

.item {
    padding: 5px 5px 5px 0;
    font-weight: lighter;
    font-size: 18px;
    border-bottom: 1px solid #f0f0f0;
    width: 100%;
    text-align: center;
}

.item:last-child {
    border-bottom: none;
}

.bottomcontainer-cart {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 70px;
    margin-top: 9px;
}

a {
    color: #939393;
    font-size: 20px;
}

a.cta {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 15px auto;
    padding: 12px;
}
