

.container-wrapper {
    margin: 30px auto;
    background: var(--background-color);
    padding: 30px;
    width: 900px;
}

h1 {
    font-size: 2.8em;
    margin: 0 0 50px 0;
}

.card-info {
    width: 335px;
    height: 314px;
}

.pinfo {
    gap: 5px;
}

.ccnum {
    margin-bottom: 15px;
}

.personal-info input {
    height: 50px;
    width: 230px;
    border: none;
    font-size: 0.8em;
}

.card-info input {
    height: 50px;
    width: 300px;
    border: none;
    font-size: 0.8em;
}

.papawrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 850px;
    margin: 10px auto;
    
}

.personal-info {
    margin-top: 18px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5px;
}

.payment-bottom {
    display: flex;
    flex-direction: column;
    background: var(--color);
    align-items: center;
}

a {
    color: black;
    margin-bottom: 10px;
}

.cta {
    padding: 15px;
}