main {
    background-image: url("../images/liam-simpson-umycmizZHn8-unsplash@2x.jpg");
    background-size: cover;
    display: grid;
    justify-items: center;
    background-position: 40%;

}

body {
    min-height: 100%;
}

#wrapper-ContactForm {
    display: flex;
    flex-direction: column;
    background: #F0F0F0;
    padding: 0px 20px 20px 20px;
    margin: 125px auto;
    border-radius: 20px;
    box-shadow: 0px 10px 20px #22222233;
}

h1 {
    color: black;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 10px;
    padding-bottom: 0px;
    border-radius: 10px;
}

#title, #question, #address, #email {
    border: 1px solid #638A98;
    padding: 20px;
    height: 14px;
    margin: 0px auto;
    font-size: 1em;
    font-family: var(--text-paragraph);
}


.cta {
    padding: 4px;
    width: 180px;
    height: 40px;
    margin: 40px 0;
}

.baby-link {
    color: black;
    margin-left: 10px;
    font-weight: bolder;
}


label {
    display: block;
    margin-top: 1rem;
}

.form-error {
    display: none;
    color: red;
}

.submit {
    font-size: 28px;
    background: #ED6D2E;
    color: white;
    border: none;
    text-transform: uppercase;
    border-radius: 10px;
    margin: 15px;
}

button {
    cursor: pointer;
}
