.homebg {
    background: no-repeat center/100% url("../images/canoeing-homepage-background.jpg");
    background-size: cover;
    max-width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.homebg div {
    width: 350px;
    display: flex;
    justify-content: center;
}

.dropbtn > i {
    pointer-events: none;
}