
.itemspecific-links {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin: 10px 40px;
}


.cta {
    margin-top: 5px !important;
    width: 300px;
    height: 40px;
}


.backbtn {
    margin-top: 15px;
    color: black;
    font-weight: bolder;
    font-size: 1.2em;
}
