@media only screen and (max-width: 1000px) {

    .navmedia {
        display: none;
    }

    .hamburger {
        display: block;
        border: none;
    }

    .logo {
        max-width: 200px;
    }

    .homebg {
        flex-direction: column;
    }

    .faq-wrapper {
        grid-template-columns: 1fr 1fr !important;
    }
    
    .faq-wrapper div:nth-last-child(-n+3) {
        margin-bottom: 0px !important;
    }

    .faq-wrapper div:nth-last-child(-n+2) {
        margin-bottom: 20px !important;
    }

    .itemspecific-wrapper {
        display: flex !important;
        flex-direction: column-reverse;
        align-items: center;
    }

    /* confirm page */

    .confirm-wrapper {
        grid-template-rows: 1fr 1fr !important;
        grid-template-columns: 1fr !important;
        width: 400px !important;
    }
    .confirm-wrapper li {
        padding: 9px;
        margin: 0px;
    }

    .yourorder {
        width: 400px;
        margin-bottom: 50px;
    }

    .deliverywrap {
        min-width: 300px !important;
        gap: 10px !important;
        justify-content: space-between !important;
    }

    .deliverywrap h2 {
        font-size: 1.2rem;
    }

    .info {
        margin: 0 10px;
    }

    .logowrap img {
        min-width: 290px !important;
    }

    /* cart */
    .cart-wrapper ul {
        grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
    }

    /*About us page */

    .hideimg {
        display: none;
    }

    .aboutus-bg {
        border-radius: 20px !important;
        margin-left: 0px !important;
    }

    .mq-img {
        display: block !important;
        max-width: 473px;
        height: 100%;
        border-radius: 20px;
        margin-top: 10px;
    }
    
    .aboutus-wrapper {
        flex-direction: column !important;
        margin-top: 30px !important;
    }

    .papawrapper {
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr 1fr !important;
        width: 485px !important;
        gap: 50px;
        margin: 0px !important;
        justify-items: center !important;
        justify-content: center!important;
    }

    .container-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 485px!important;
        padding: 0px !important;
        align-items: center;
    }

    .container-wrapper h1 {
        font-size: 30px;
        margin-top: 10px;
    }

}

@media only screen and (max-width: 600px) {

    .fas.fa-search {
        display: block;
    }

    .header-bottom_grid  {
        justify-items: end;
    }

    .form-wrapper {
        display: none;
        margin: 0px;
        grid-template-areas: none;
    }

    .make-block {
        display: none
    }

    nav {
        display: flex;
        flex-direction: row-reverse;
        gap: 10px;
    }

    .navelement {
        display: none;
    }

    .navelement-mq {
        display: block;
        text-align: center;
        height: 60px;
    }

    .navelement-mq p {
        margin: 15px 0 0 0;
    }
    
    .store-navigation {
        grid-template-columns: 1fr auto;
        flex: 1;
    }

    .store-navigation:hover {
        background-color: #e5eef0;
        cursor: pointer;
    }

    .nav-top {
        display: flex;
        justify-content: center; 
    }

    .logo {
        max-width: 200px;
        align-self: center;
    }

    .faq-wrapper {
        grid-template-columns: 1fr !important;
        }
        
    .faq-wrapper div:nth-last-child(-n+3) {
        margin-bottom: 20px !important;
    }

    .faq-wrapper div {
        height: auto !important;
    }

    .products-filter {
        display: none;
    }

    .products-wrapper {
        grid-template-columns: 1fr !important;
    }

}

/* FOOTER */

.contact-footer_wrapper {
    background: white;
    display: grid;
    justify-items: center;
    border: 1px solid #ececec;
    border-left: hidden;
    border-right: hidden;
    border-bottom: hidden;
}

.contact-footer_wrapper ul {
    list-style: none;
    padding: 0px;
}

.contact-info {
    text-align: center;
    margin: 20px 0px;
}

.contact-button {
    padding: 15px 10px;
    margin-top: 40px;
    font-family: var(--text-heading);
}
