@media only screen and (max-width: 1000px) {

    /* styles and index page */
    .navmedia {
        display: none;
    }


    .logo {
        max-width: 200px;
    }

    .homebg {
        flex-direction: column;
    }

    
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .show {
        display:block;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content {
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }


    .dropdown-content a {
        color: black;
        text-decoration: none;
        display: block;
    }

    .dropbtn {
        display: block;
        border-radius:20%;
        background-color: #0A3641;
        color: white;
        border: none;
    }

    .dropbtn:hover {
        cursor: pointer;
    }

    .dropdown-content a:hover {
        background-color:#0A3641;
        color: white;
    }


    /* faq page */

    .faq-wrapper {
        grid-template-columns: 1fr 1fr !important;
    }
    
    .faq-wrapper div:nth-last-child(-n+3) {
        margin-bottom: 0px !important;
    }

    .faq-wrapper div:nth-last-child(-n+2) {
        margin-bottom: 20px !important;
    }

    .itemspecific-wrapper {
        display: flex !important;
        flex-direction: column-reverse;
        align-items: center;
    }


    /* confirm page */

    .confirm-wrapper {
        grid-template-rows: 1fr 1fr !important;
        grid-template-columns: 1fr !important;
        width: 400px !important;
    }
    .confirm-wrapper li {
        padding: 9px;
        margin: 0px;
    }

    .yourorder {
        width: 400px;
        margin-bottom: 50px;
    }

    .deliverywrap {
        min-width: 300px !important;
        gap: 10px !important;
        justify-content: space-between !important;
    }

    .deliverywrap h2 {
        font-size: 1.2rem;
    }

    .info {
        margin: 0 10px;
    }

    .logowrap img {
        min-width: 290px !important;
    }


    /* cart page */

    .cart-items {
        flex-direction: column;
        align-items: baseline;
    }

    .counter {
        width: 20%;
    }

    /* about us page */

    .hideimg {
        display: none;
    }

    .aboutus-bg {
        border-radius: 20px !important;
        margin-left: 0px !important;
    }

    .mq-img {
        display: block !important;
        max-width: 473px;
        height: 100%;
        border-radius: 20px;
        margin-top: 10px;
    }
    
    .aboutus-wrapper {
        flex-direction: column !important;
        margin-top: 30px !important;
    }

    .papawrapper {
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr 1fr !important;
        width: 485px !important;
        gap: 50px;
        margin: 0px !important;
        justify-items: center !important;
        justify-content: center!important;
    }

    .container-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 485px!important;
        padding: 0px !important;
        align-items: center;
    }

    .container-wrapper h1 {
        font-size: 30px;
        margin-top: 10px;
    }

}

@media only screen and (max-width: 600px) {


    /* styles and index page*/


    .fas.fa-search {
        display: block;
    }

    .header-bottom_grid  {
        justify-items: end;
    }

    .form-wrapper {
        display: none;
        margin: 0px;
        grid-template-areas: none;
    }

    .make-block {
        display: none
    }

    nav {
        flex-direction: row-reverse;
        gap: 10px;
        width: auto;
    }

    .navelement {
        display: none;
        text-decoration: none;
    }

    .navelement-mq {
        display: block;
        text-align: center;
        height: 60px;
        
    }

    .navelement-mq p {
        margin: 15px 0 0 0;
        color: black;
    }
    
    .store-navigation {
        grid-template-columns: 1fr auto;
        flex: 1;
    }

    .store-navigation:hover {
        background-color: #e5eef0;
        cursor: pointer;
    }

    .store-navigation a {
        text-decoration: none;
    }

    .nav-top {
        display: flex;
        justify-content: center; 
    }

    .logo {
        max-width: 200px;
        align-self: center;
        margin-left: 60px;
    }

    
    /* faq page */

    .faq-wrapper {
        grid-template-columns: 1fr !important;
    }
        
    .faq-wrapper div:nth-last-child(-n+3) {
        margin-bottom: 20px !important;
    }

    .faq-wrapper div {
        height: auto !important;
    }


    /* products page */

    .products-filter {
        display: none;
    }

    .products-wrapper {
        grid-template-columns: 1fr !important;
    }


    /* cart page */

    .cart-items {
        height: auto;
    }

    .checkout {
        float: left;
    }

    .Subtotal {
        margin-top: 15px;
    }

    .total-amount {
        font-size: 25px;
        margin-top: 15px;
    }

}
