@media only screen and (max-width: 1000px) {

    .navmedia {
        display: none;
    }

    .hamburger {
        display: block;
        border: none;
    }

    .logo {
        max-width: 200px;
    }

    .homebg {
        flex-direction: column;
    }

    .faq-wrapper {
        grid-template-columns: 1fr 1fr !important;
    }
    
    .faq-wrapper div:nth-last-child(-n+3) {
        margin-bottom: 0px !important;
    }

    .faq-wrapper div:nth-last-child(-n+2) {
        margin-bottom: 20px !important;
    }

    .itemspecific-wrapper {
        display: flex !important;
        flex-direction: column-reverse;
        align-items: center;
    }

    /*About us page */

    .hideimg {
        display: none;
    }

    .aboutus-bg {
        border-radius: 20px !important;
        margin-left: 0px !important;
    }

    .mq-img {
        display: block !important;
        max-width: 473px;
        height: 100%;
        border-radius: 20px;
        margin-top: 10px;
    }
    
    .aboutus-wrapper {
        flex-direction: column !important;
        margin-top: 30px !important;
    }

}

@media only screen and (max-width: 600px) {

    .fas.fa-search {
        display: block;
    }

    .header-bottom_grid  {
        justify-items: end;
    }

    .form-wrapper {
        display: none;
        margin: 0px;
        grid-template-areas: none;
    }

    .make-block {
        display: none
    }

    nav {
        display: flex;
        flex-direction: row-reverse;
        gap: 10px;
    }

    .navelement {
        display: none;
    }

    .navelement-mq {
        display: block;
        text-align: center;
        height: 60px;
    }

    .navelement-mq p {
        margin: 15px 0 0 0;
    }
    
    .store-navigation {
        grid-template-columns: 1fr auto;
        flex: 1;
    }

    .store-navigation:hover {
        background-color: #e5eef0;
        cursor: pointer;
    }

    .nav-top {
        display: flex;
        justify-content: center; 
    }

    .logo {
        max-width: 200px;
        align-self: center;
    }

    .faq-wrapper {
        grid-template-columns: 1fr !important;
        }
        
    .faq-wrapper div:nth-last-child(-n+3) {
        margin-bottom: 20px !important;
    }

    .faq-wrapper div {
        height: auto !important;
    }

    .products-filter {
        display: none;
    }

    .products-wrapper {
        grid-template-columns: 1fr !important;
    }
    
}

/* FOOTER */

.contact-footer_wrapper {
    background: white;
    display: grid;
    justify-items: center;
    border: 1px solid #ececec;
    border-left: hidden;
    border-right: hidden;
    border-bottom: hidden;
}

.contact-footer_wrapper ul {
    list-style: none;
    padding: 0px;
}

.contact-info {
    text-align: center;
    margin: 20px 0px;
}

.contact-button {
    padding: 15px 10px;
    margin-top: 40px;
    font-family: var(--text-heading);
}