
main {
    background-color: #F0F0F0;
    min-height: 75vh;
}

h1 {
    display: flex;
    justify-content: center;
    background: var(--color);
    font-weight: lighter;
    font-size: 44px;
    color:#0A3641;
    margin: 20px 5px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin: 10px;
}

.product {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
    background-color: white;
    justify-content: center;
    box-shadow: 0px 10px 20px #22222233;
    border-radius: 20px;
    align-items: center;
    max-height: 400px;
    color: black;
}

.product a {
    text-decoration: none;
}

.product h2 {
    margin:20px;
    font-size:20px;
    text-decoration: none;
}

.product p {
    margin: 10px;
    text-align: center;
    font-size: 15px;
}

.product-price {
    margin:10px;
    font-weight: bolder;
}


.product img {
    width: 200px;
    height: 200px;
}

.categorize1 {
    display: flex;
    gap:50px;
}


/* FOOTER */

.contact-footer_wrapper {
    background: white;
    display: grid;
    justify-items: center;
    border: 1px solid #ececec;
    border-left: hidden;
    border-right: hidden;
    border-bottom: hidden;
}

.contact-footer_wrapper ul {
    list-style: none;
    padding: 0px;
}

.contact-info {
    text-align: center;
    margin: 20px 0px;
}

.cta {
    padding: 15px 10px;
    margin-top: 40px;
    font-family: var(--text-heading);
}