
main {
    background-color: #F0F0F0;
}

.rain-coat{
    background: var(--color);
}

h1 {
    display: flex;
    justify-content: center;
    background: var(--color);
    font-weight: lighter;
    font-size: 44px;
    color:#0A3641;
    margin: 20px 5px;
}


/* Rain coats */ 
.rain-coat img {
    max-width: 300px;
    height: auto;
    margin-top: 10px;
}

.rain-coat {
    display: grid;
    grid-template-rows: 1fr auto;
    max-width: 297px;
    gap: 20px;
    border-radius: 20px;
    box-shadow: 0px 10px 20px #22222233;
}

.featured-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, 295px);
    gap: 30px;
    justify-content: center;
}


.featured-products a {
    text-decoration: none;
    color: black;
}

.product-info {
    display: grid;
    grid-template-columns: auto auto;
    padding: 0px 20px 0px 0px;
    max-height: 200px;
    justify-items: center;
}

.product-info h3 {
    font-weight: bolder;
    font-size: 25px;
    margin: 5px 0px;
}

.products-wrapper {
    display: grid;
    margin-bottom: 30px;
}

.checked {
    color: orange;
}

.fa a {
    background-color: black;
}

i.fa.fa-shopping-cart {
    font-size: 3.9em;
    margin-left: 20px;
    color: black;
    margin-top: 50px;
}

i.fa.fa-shopping-cart:hover {
    cursor: pointer;
    color: #db6124;
}

.price {
    font-size: 1.6em;
    font-weight: lighter;
    margin: 2px 0px;
}

.reviews {
    margin: 0px 0px 5px 0px;
    text-decoration: underline;
}

.reviews:hover {
    cursor: pointer;
}


.info-wrapper_2 {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 40px;
}



/* FOOTER */

.contact-footer_wrapper {
    background: white;
    display: grid;
    justify-items: center;
    border: 1px solid #ececec;
    border-left: hidden;
    border-right: hidden;
    border-bottom: hidden;
}

.contact-footer_wrapper ul {
    list-style: none;
    padding: 0px;
}

.contact-info {
    text-align: center;
    margin: 20px 0px;
}

.cta {
    padding: 15px 10px;
    margin-top: 40px;
    font-family: var(--text-heading);
}