
main {
    background-color: #F0F0F0;
}

.rain-coat, .products-filter ul, .sorting {
    background-color: white;
}

h1 {
    display: flex;
    justify-content: center;
    background: white;
    font-weight: lighter;
    font-size: 44px;
    color:#0A3641;
    margin: 20px 5px;
}

.products-filter {
    width: 300px;
    height: 480px;
    margin-left: 40px;
}

.products-filter ul, .sorting {
    padding-left: 40px;
    margin: 0 10px 0 0;
}

.sorting {
    margin-top: 10px;
}

.products-filter li {
   display: flex;
   width: 200px;
   justify-content: space-between;
   align-items: center;
   border: 1px solid #BCBCBC;
   border-top: hidden;
   border-left: hidden;
   border-right: hidden;
}

.products-filter li:last-child {
    border: hidden;
}

.products-filter p {
    padding: 15px;
    font-weight: 500;
    color: #797979;
    font-size: 20px;
}

.arrow {
    margin-left: 50px;
    border: solid #797979;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
}
  
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* Rain coats */ 
.rain-coat img {
    max-width: 300px;
    height: auto;
    margin-top: 10px;
}

.rain-coat {
    display: grid;
    grid-template-rows: 1fr auto;
    max-width: 297px;
    gap: 20px;
}

.featured-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, 295px);
    gap: 30px;
    justify-content: center;
}


.featured-products a {
    text-decoration: none;
    color: black;
}

.product-info {
    display: grid;
    grid-template-columns: auto auto;
    border-top: solid 15px #F0F0F0;
    padding: 0px 20px 0px 0px;
    max-height: 200px;
    justify-items: center;
}

.product-info h3 {
    font-weight: bolder;
    font-size: 25px;
    margin: 5px 0px;
}

.products-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-bottom: 30px;
}

.checked {
    color: orange;
}

.fa a {
    background-color: black;
}

i.fa.fa-shopping-cart {
    font-size: 2.9em;
    margin-left: 75px;
    color: black;
}

i.fa.fa-shopping-cart:hover {
    cursor: pointer;
    color: #db6124;
}

.price {
    font-size: 1.6em;
    font-weight: lighter;
    margin: 2px 0px;
}

.reviews {
    margin: 0px 0px 5px 0px;
    text-decoration: underline;
}

.reviews:hover {
    cursor: pointer;
}

.color-selector ul {
    list-style: inline;
    padding: 0px;
    margin: 12px 0px 20px;
}

.fas.fa-circle {
    background: none;
    font-size: 20px;
    padding: 0px;
    width: 20px;
    height: 30px;
}

.fas.fa-circle:hover {
    filter: brightness(65%);
    cursor: pointer;
}

#green {
    color: green;
}

#red {
    color: red;
}

#blue {
    color: rgb(43, 43, 255);
}

#yellow {
    color: rgb(216, 199, 49);
}

#black {
    color: rgb(65, 65, 65);
}

.info-wrapper_2 {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 40px;
}



/* FOOTER */

.contact-footer_wrapper {
    background: white;
    display: grid;
    justify-items: center;
    border: 1px solid #ececec;
    border-left: hidden;
    border-right: hidden;
    border-bottom: hidden;
}

.contact-footer_wrapper ul {
    list-style: none;
    padding: 0px;
}

.contact-info {
    text-align: center;
    margin: 20px 0px;
}

.cta {
    padding: 15px 10px;
    margin-top: 40px;
    font-family: var(--text-heading);
}