@font-face {
    font-family: "Avenir Next";
    src: url("../fonts/Avenir\ Next\ Font.ttf");
}

/* Home Page */
body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    width: 100%;
    margin: 0px;
    display: grid;
    grid-template-rows: auto;
}

footer {
    text-align: center;
    color: white;
    background-color: black;
}

/* Navigation */
header {
    background: #F0F0F0;
    max-width: 100%;
}

header a {
    padding: 0px;
}

.header-bottom_grid {
    display: grid;
    grid-template-columns: auto 2fr auto;
    grid-gap: 20px;
    align-items: end;
    width: 100%;
}

.nav-top {
    background: #0A3641; 
    width: 100%;
    height: 45px;
    z-index: 999;
}

.navmedia {
    display: grid;
    grid-template-columns:  repeat(5, 1fr);
    grid-gap: 6px;
    margin-right: 10px;
}

 .fas, .fab {
    text-decoration: none;
    color: white;
    background: #0A3641;
    text-align: center;
    font-size: 30px;
    border-radius: 50%;
    min-width: 40px;
    padding: 10px;
}

.nav-top_button {
    background: white;
    color: #0A3641;
    text-decoration: none;
    text-align: center;
    float: right;
    width: 116px;
    height: 28px;
    border-radius: 15px;
    font-size: 20px;
    margin: 10px;
} 

nav {
    width: 100%;
    margin-bottom: 20px;
}

.logo {
    max-width: 250px;
    margin: 50px 0px 0px 20px;
}

/* Search bar */
.form-wrapper {
    display: flex;
    justify-content: center;
    min-width: 100%;
}

#textarea {
    max-width: 600px;
    min-width: 20px;
    border: 2px solid #638A98;
    border-left: hidden;
    font-size: 18px;
    outline: none;
    padding: 0px;
    flex: 1;
    flex-grow: 1;
}

.make-block {
    display: grid;
    justify-items: center;
    align-self: flex-end;
    margin-bottom: 20px;
}

.searchbutton {
    background: white;
    border: 2px solid #638A98;
    border-right: hidden;
    color: #638A98;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

::placeholder {
    color: #b2cbcf;
}

/* Store navigation */
main {
    background: no-repeat center/100% url("../images/canoeing-homepage-background.jpg");
    background-size: cover;
    width: auto;
    min-height: 100vh;
}

.store-navigation {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 20px;
    font-weight: bolder;
    background: white;
    text-align: center;
    border: 2px solid #CFDADC;
    border-left: hidden;
    border-right: hidden;
    color: #0A3641;
}

.navelement p {
    margin: 2px;
}

.navelement {
    border-right: 1px solid #CFDADC;
    margin: 12px;
}

.navelement:last-child {
    border: hidden;
}

.home-cta {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 80px;
    margin-top: 40px;
}

.cta {
    position: relative;
    font-size: 30px;
    color: white;
    background: #ED6D2E;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    border-radius: 10px;
    white-space: nowrap;
    padding: 50px 0px;
    text-align: center;
}

.cta:hover {
    cursor: pointer;
    background:#db6124;
}

.cta-gender {
    min-width: 380px;
    margin: 20px auto;
}

.hamburger {
    display: none;
    padding: 0px;
}

.navelement-mq {
    display: none;
}

/* media queries */

@media only screen and (max-width: 1000px) {

    .navmedia {
        display: none;
    }

    .hamburger {
        display: block;
        border: none;
        margin-right: 10px;
    }

    .home-cta {
        display: flex;
        flex-direction: column;   
        align-items: center;
    }

    .cta-gender {
        max-width: 50px;
        margin: 10px;
    }
}

@media only screen and (max-width: 600px) {
    #textarea {
        display: none;
    }

    .searchbutton {
        text-decoration: none;
        color: white;
        background: #0A3641;
        text-align: center;
        font-size: 30px;
        border-radius: 50%;
        min-width: 60px;
        padding: 10px;
        border: none;
        display: flex;
        justify-content: center;
        flex: 1;
        max-width: 50px;
    }

    .form-wrapper {
        justify-content: right;
    }

    .navelement {
        display: none;
    }

    .navelement-mq {
        display: block;
        text-align: center;
    }
    
    .store-navigation {
        grid-template-columns: 1fr auto;
        flex: 1;
    }

    .store-navigation:hover {
        background-color: #e5eef0;
        cursor: pointer;
    }

    .nav-top {
        display: flex;
        justify-content: center; 
    }
}