@font-face {
    font-family: "Avenir Next";
    src: url("../fonts/Avenir\ Next\ Font.ttf");
}

/* Home Page */
body {
    font-family: "Avenir-Next", Verdana, Tahoma, sans-serif;
    min-height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* Navigation */
header {
    background-color: #F0F0F0;
    max-height: 200px;
}

.nav-top {
    background-color: #0A3641; 
    width: 100%;
    position: fixed;
    height: 45px;
    z-index: 999;
}

nav {
    position: relative;
    float: right;
    top: -110px;
}

nav li {
    display: inline-block;
    padding-right: 7px;
}

 .fas, .fab {
    text-decoration: none;
    color: white;
    background-color: #0A3641;
    text-align: center;
    font-size: 30px;
    border-radius: 50%;
    min-width: 40px;
    padding: 10px;
}

nav ul {
    margin-right: 20px;
}

.nav-top_button {
    background-color: white;
    color: #0A3641;
    text-decoration: none;
    text-align: center;
    float: right;
    width: 116px;
    height: 28px;
    border-radius: 15px;
    font-size: 20px;
    margin: 10px;
} 

.logo {
    position: relative;
    max-width: 250px;
    margin: 50px 0px 0px 20px;
}

/* Search bar */

.form-wrapper > * {
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
    top: -43px;
}

#textarea {
    height: 38px;
    width: 490px;
    border: 2px solid #638A98;
    border-left: hidden;
    font-size: 20px;
}

.searchbutton {
    background-color: white;
    border: 2px solid #638A98;
    border-right: hidden;
    color: #638A98;
    font-size: 30px;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
}


/* Store navigation */

main {
    background-image:url("../images/canoeing-homepage-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    min-height: 110vh;
    position: relative;
}

.store-navigation {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    background-color: white;
    text-align: center;
    border: 3px solid #CFDADC;
    border-left: hidden;
    border-right: hidden;
    color: #0A3641;
    font-size: 1rem;
}


.home-cta {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 200px;
}

.cta {
    display: block;
    position: relative;
    font-size: 2em;
    color: white;
    background-color: #ED6D2E;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
    white-space: nowrap;
}

.cta-womens {
    padding: 50px 100px;
}

.cta-mens {
    padding: 50px 120px;
}