@font-face {
    font-family: "Avenir Next";
    src: url("../fonts/Avenir\ Next\ Font.ttf");
}

/* Home Page */
body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* Navigation */
header {
    background-color: #F0F0F0;
}

.header-bottom_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
}

.nav-top {
    background-color: #0A3641; 
    width: 100%;
    position: fixed;
    height: 45px;
    z-index: 999;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 3px;
    max-width: 50px;
}

 .fas, .fab {
    text-decoration: none;
    color: white;
    background-color: #0A3641;
    text-align: center;
    font-size: 30px;
    border-radius: 50%;
    min-width: 40px;
    padding: 10px;
}

.nav-top_button {
    background-color: white;
    color: #0A3641;
    text-decoration: none;
    text-align: center;
    float: right;
    width: 116px;
    height: 28px;
    border-radius: 15px;
    font-size: 20px;
    margin: 10px;
} 

.logo {
    max-width: 250px;
    margin: 50px 0px 0px 20px;
}

/* Search bar */
.form-wrapper {
    display: flex;
    justify-content: center;
    width: 600px;
    margin: 50px auto;
}

#textarea {
    max-width: 500px;
    border: 2px solid #638A98;
    border-left: hidden;
    font-size: 18px;
    outline: none;
    padding: 0px;
    flex: 1;
}

.searchbutton {
    background-color: white;
    border: 2px solid #638A98;
    border-right: hidden;
    color: #638A98;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

::placeholder {
    color: #b2cbcf;
}

/* Store navigation */
main {
    background-image:url("../images/canoeing-homepage-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    min-height: 110vh;
    position: relative;
}

.store-navigation {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 1.3em;
    font-weight: bolder;
    background-color: white;
    text-align: center;
    border: 2px solid #CFDADC;
    border-left: hidden;
    border-right: hidden;
    color: #0A3641;
}

.navelement p {
    margin: 2px;
}

.navelement {
    border-right: 1px solid #CFDADC;
    margin: 12px;
}

.navelement:last-child {
    border: hidden;
}

.home-cta {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 80px;
    margin-top: 40px;
}

.cta {
    position: relative;
    font-size: 1.4em;
    color: white;
    background-color: #ED6D2E;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    border-radius: 10px;
    white-space: nowrap;
    padding: 50px 0px;
    text-align: center;
}

.cta-gender {
    min-width: 380px;
}